*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
body{
    font-family: 'Candal', sans-serif;
}

/* nav */
ol{
    position: fixed;
    top: 8%;
    right: 3%;
    z-index: 1;
}

li{
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    transition: all 1s;
}

li:hover{
    transform: rotate3d(0, 1, 0, 1turn);
}

li a{
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 100%;
    padding:  8px 14px;
    box-shadow:5px 5px 10px 1px rgba(0, 0, 0, 1);
}

li a:hover{
    color: red;
}

a{
    text-decoration: none;
}

/* product */
.container{
    height: 100vh;
    width: 100%;
    position: relative;
}

.red{
    background: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
.product{
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product:hover{

}

img{
    width: 100%;
}

h1{
    font-size: calc(3.3vw + 10px);
    text-transform: uppercase;
    text-align: center;
}

.text-yellow{
    color: yellow;
}

.text-green{
    color: green;
}

